#accountSettings{
    padding:0 16px;
}

.logonLogo {
    background-image: url('http://itc.pitsco.com/img/synergy.logo.png');
    background-size: 160px 40px;
    background-position:0 13px;
    background-repeat: no-repeat;

    width:160px;
    height: 56px;
    margin: 2px auto 4px auto;
}
.logonLogo  img{
    margin-left: 48px;
    margin-top: -25px;
}

.logonInputDiv, .logonInputDivTop {
    width:100%;
    margin:30px 0 0 40px;
}

.logonInputDiv {
    margin:10px 0 0 40px;
}

.logonInput {
    background: #fff;
    border: 1px solid #bfc0bf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 4px 4px rgba(127,128,127,.2);
    box-shadow: inset 0 4px 4px rgba(127,128,127,.2);

    width:100%;
    height:32px;
    text-align: center;

    color: #88abc2;
    font-size: 14px;
    font-weight:600;
    line-height: 120%;
    text-align: center;
}




.logonInput:active {
    background: #fff;
    border: 1px solid #bfc0bf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(73,112,138,.3), inset 0 4px 4px rgba(127,128,127,.2);
    box-shadow: 0 0 16px rgba(73,112,138,.3), inset 0 4px 4px rgba(127,128,127,.2);
}

/* Placeholder - .logonInputHint */

#accountSettings ::-webkit-input-placeholder{

    color: #88abc2;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
}
#accountSettings :-moz-placeholder{
    color: #88abc2;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 13px;
    text-align: center;
}
#accountSettings ::-moz-placeholder{
    color: #88abc2;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 13px;
    text-align: center;
}
#accountSettings input:-ms-input-placeholder {
    color: #88abc2;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 13px;
    text-align: center;
}
/* Placeholder - .logonInputHint */

.logonSubmitBtn {
    text-transform: capitalize;
    width:300px;
    margin:20px 0 0 40px;
}

.logonForgotBtn {
    width:300px;
    margin:10px 0 20px 40px;
}

.logonSubmit, .logonForgot { /* Merged .logonSubmitLabel */
    background: #cbcbcb;
    background: -moz-linear-gradient(50% -1% -90deg, #ebf7f8 0%, #cdcece 93%, #cbcbcb 100%);
    background: -o-linear-gradient(-90deg, #ebf7f8 0%, #cdcece 93%, #cbcbcb 100%);
    background: -webkit-gradient(linear, 50% -1%, 50% 99%, color-stop(0, #ebf7f8), color-stop(0.93, #cdcece), color-stop(1, #cbcbcb));
    background: -webkit-linear-gradient(-90deg, #ebf7f8 0%, #cdcece 93%, #cbcbcb 100%);
    background: linear-gradient(180deg, #ebf7f8 0%, #cdcece 93%, #cbcbcb 100%);
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(127,128,127,.3);
    box-shadow: 0 2px 2px rgba(127,128,127,.3);

    width:100%;
    height:36px;
    cursor:pointer;

    color: #49708a;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-weight:600;
}


.logonSubmit:hover, .logonForgot:hover {
    background: #9eb5c0;
    background: -moz-linear-gradient(50% -1% -90deg, #cedce1 0%, #a1b8c2 93%, #9eb5c0 100%);
    background: -o-linear-gradient(-90deg, #cedce1 0%, #a1b8c2 93%, #9eb5c0 100%);
    background: -webkit-gradient(linear, 50% -1%, 50% 99%, color-stop(0, #cedce1), color-stop(0.93, #a1b8c2), color-stop(1, #9eb5c0));
    background: -webkit-linear-gradient(-90deg, #cedce1 0%, #a1b8c2 93%, #9eb5c0 100%);
    background: linear-gradient(180deg, #cedce1 0%, #a1b8c2 93%, #9eb5c0 100%);
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(127,128,127,.3);
    box-shadow: 0 2px 2px rgba(127,128,127,.3);

    color: #ebf7f8;
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}

.loginCopyright {
    color: #87abc1;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    margin:16px 0 8px 0;
}
.loginCopyright1 {
    color: #87abc1;
    font-size: 12px;
    line-height: 120%;
    margin: 5px 0 10px;
    text-align: center;
}

input.error{
    background: none repeat scroll 0 0 #FFDACE;
}

input.error::-webkit-input-placeholder{
    color: #CD4225;
}
input.error:-moz-placeholder{
    color: #CD4225;
}
input.error::-moz-placeholder{
    color: #CD4225;
}
input.error:-ms-input-placeholder {
    color: #CD4225;
}

.errormsg {
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #CD4225;
    background: none repeat scroll 0 0 #FFDACE;
    border:1px solid #CD4225;
    width:300px;
    margin:36px 0 0 40px;
    height:30px;
    text-align:center;
    padding-top:10px;
}
.textcolor {
    float: right;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: right;
    width: 50%;
}

.strength_meter{
    height:46px;
    width: 100%;
    background:transparent;
    float:left;
}
.strength_meter p{
    font-size: 12px;
}
.strength_meter div{
    margin-top:12px;
    height:23px;
    width:100%;
    text-align:center;
    color:black;
    font-weight:bold;
    line-height:23px;
}
.passwordveryweak p{
    color: #E32;
}
.passwordweak p{
    color: #D61;
}
.passwordmedium p{
    color: #CA0;
}
.passwordstrong p{
    color: #0B2;
}

#txtpassword.strength.passwordveryweak{
    background-color: #E88;
    border-color: #E33!important;
    color:#135 !important;
}
#txtpassword.strength.passwordweak{
    background-color: #FFB78C;
    border-color: #E83!important;
    color:#246 !important;
}
#txtpassword.strength.passwordmedium{
    background-color: #FE8;
    border-color: #EB0!important;
    color:#357 !important;
}
#txtpassword.strength.passwordstrong{
    background-color: #6D8;
    border-color: #0B2!important;
    color:#246 !important;
}

#txtpassword2.passwordmatch{
    background-color: #6D8;
    border-color: #0B2!important;
    color:#246 !important;
}
#txtpassword2.passworderror{
    background-color: #E88;
    border-color: #E33!important;
    color:#135 !important;
}
.verifyHeadline{
    text-align: center; color:#367; font-size:22px; margin:20px auto; padding:0px; width:96%;
    font-weight:600;
    letter-spacing:-0.3px; word-spacing:-0.3px;
    font-variant: small-caps;
}
.verifySubHeadline{
    text-align: justify; color:#678; font-weight: 400; font-size:12px; letter-spacing:-0.1px; word-spacing:-0.2px; width:96%; margin:0 auto; margin-top: 2px; line-height: 15px; padding:0 2px;
}
.verifySubHeadline i{
    display: block; margin-top:12px; color:#D43; opacity: 0.9; font-size: 11px; letter-spacing:-0.2px; word-spacing: -0.3px;
}
.verifyWaitmsg{
    text-align: center !important; min-height: 24px; margin-top:-8px; padding: 2px 0; width: 100%; font-size: 11px; font-style: italic; font-weight: bold; display:none;
}
.verifyConfirmation{
    text-align: center; color:#689; font-size:13px; width:300px; font-weight: bold; margin:0 auto; padding:0px; display: none;
}

#accountSettings hr{
    border:none !important;
}
.logonHeader{

    border: 1px solid #24485f;
    background: #24485f url('../jquery-ui/css/itc/images/ui-bg_gloss-wave_55_24485f_500x100.png') 50% 50% repeat-x;
    color: #fff;
    font-weight: bold;
}