/* 
		This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
		TextboxList is not priceless for commercial use. See <http://devthought.com/projects/jquery/textboxlist/> 
		Purchase to remove copyright
*/

.textboxlist { 
	font: 12px "Lucida Grande", Verdana; 
	cursor: text;
	max-width: 940px;
	width: 100%;	
}
.textboxlist-bits { 
	zoom: 1; 
	overflow: hidden; 
	margin: 0; 
	padding: 3px 4px 0; 
	padding-bottom: 3px; 
	
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #7595B2;
	-moz-box-shadow: inset 0px 2px 4px rgba(57, 86, 102, 0.33);
	-webkit-box-shadow: inset 0px 2px 4px rgba(57, 86, 102, 0.33);
	box-shadow: inset 0px 2px 4px rgba(57, 86, 102, 0.33);
}
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 3px 5px 0 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input { border: 0; padding: 2px 0; *padding-bottom: 0; height: 14px; font: 12px "Lucida Grande", Verdana; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { 
	position: relative; /*line-height: 18px*/	
	cursor: default; 
	color: #49708a;
	padding: 7px 2px 7px 10px;
	font-size: 12px;
	border-radius: 5px;
	background: #DEE7E7;
	border: 1px solid #B3C9DE;
	-moz-box-shadow: inset 0px -1px 2px rgba(57, 86, 102, 0.51);
	-webkit-box-shadow: inset 0px -1px 2px rgba(57, 86, 102, 0.51);
	box-shadow: inset 0px -1px 2px rgba(57, 86, 102, 0.51);
	-moz-box-shadow: inset 0px 1px 2px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px 2px #FFFFFF;
	box-shadow: inset 0px 1px 2px #FFFFFF;
	margin-right: 6px;	
}
.textboxlist-bit-box-deletable { padding-right: 25px; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 8px; display: block; width: 16px; height: 16px; font-size: 1px; background:url(../img/killTag.png) }
.textboxlist-bit-box-deletebutton:hover { border: none; text-decoration: none; }
.textboxlist-bit-box-hover { background: #D0E0EB;  }
.textboxlist-bit-box-focus { background: #D0E0EB; color: #24485F; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }

/*  TextboxList Style guidelines 
			This style doesn't necessarily have to be in a separate file. 
			It's advisable not to set widths and margins from here, but instead apply it to a particular object or class (#id .textboxlist { width: xxx } or .class .textboxlist { width: xxx })
			The padding-top + padding-left + height of ".textboxlist-bit-editable-input {}" has to match the line-height of ".textboxlist-bit-box {}" for UI consistency. 
			The font configuration has to be present in .textboxlist and .textboxlist-bit-editable-input (for IE reasons)
			The *padding-bottom (notice the *) property of .textboxlist-bits {} has to be equal to the margin-bottom of .textboxlist-bit {} for IE reasons.
			The padding-top of .textboxlist ul {} has to match the margin-bottom of .textboxlist-bit, and the padding-bottom has to be null.
			Make sure the border-width of the .textboxlist-bit-editable {} is equal to the border-width of the box (a border that matches the background is advisable for the input)
			Feel free to edit the borders, fonts, backgrounds and radius.		
*/